body {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

header, .container {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}

.col-3 {   
    width: 75%;

}

.col-1 {
    width: 25%;
}

.col-dark {
    background-color: #831b56;
    color: #fff;
    padding: 0.5em;
}

/* Typography */

h1, h2 {
        font-family: 'Bebas Neue', sans-serif;

}
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}